<div class="card card-block sameheight-item col-xl-8 col-lg-push-1">
    <div class="title-block">
        <h3 class="title text-sm-center">
            Change Password
        </h3> </div>
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                <div class="form-group"> <label class="control-label">Current password</label>
                    {{ form_widget(form.current_password, { 'attr': {'class': 'form-control underlined', 'placeholder': '' } }) }}
                    {% if form_errors(form.current_password) %}
                        <label class="alert-warning">Invalid password</label>
                    {% endif %}
                </div>
                <div class="form-group"> <label class="control-label">New password</label>
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control underlined', 'placeholder': '' } }) }}
                    {% if form_errors(form.plainPassword.first) %}
                        <label class="alert-warning">Invalid password</label>
                    {% endif %}
                </div>
                <div class="form-group"> <label class="control-label">Repeat new password</label>
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control underlined', 'placeholder': '' } }) }}
                    {% if form_errors(form.plainPassword.second) %}
                        <label class="alert-warning">Invalid password</label>
                    {% endif %}
                </div>
                <div class="form-group"> <button type="submit" class="btn btn-primary">Change</button></div>
                {{ form_rest(form) }}
                {% if success %}
                    <div class="form-group"> {{ success }}</div>
                {% endif %}
            {{ form_end(form) }}
</div>